<!-- Оптимизируй запросы на сервер в несколько строк с RxJS.
Когда юзер вводит какие-то данные вместо того, чтобы проверять каждый симвовл мы проверим слово целиком -->

<input type="text" name="s" id="search"> <!-- Поле для ввода поискового запроса, имеющее тип "text", имя "s" и идентификатор "search" -->
<button id="stop">Stop</button> <!-- Кнопка "Стоп", имеющая идентификатор "stop" -->
<canvas id ='canvas' width="400px" height="400px" style="border:1px solid red; margin: 50 px;display: flex;"></canvas> <!-- Элемент холста HTML5 для рисования на 
    странице, имеющий идентификатор "canvas", ширину и высоту 400 пикселей, 
    красную рамку шириной 1 пиксель и отступом 50 пикселей. Он также имеет стиль "display: flex;", 
    который позволяет отображать его внутри элемента-контейнера как flex-элемента. -->
